<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Document</title>
</head>
<body>
    <div id="center">
    <div>
      <h1 id="center h1">Sign up</h1>
      <label>Username</label>
      <input type="text" id="username">
    </div>
    <div>
      <label for="">Password</label>
      <input type="password"  id="password">
    </div>
    <div>
        <div>
      <label>Email</label>
      <input type="text" id="email">
    </div>
    <br>
      <button type="submit" id="loginbtn" >Sign up</button>
    </div>
  </div>
</body>
</html>