<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>Document</title>
</head>
<body>
    <div id="all">
        <div id="container">
            <h1 id="todo">Add a sub task</h1>
            <div class="input-section">
            <input type="text" id="taskInput" placeholder="Add a sub task">
            <textarea id="taskdescreption" name="message" rows="5" cols="30" placeholder="Descripe your task"></textarea>
            <input type="date" id="taskdate">
            <label for="Crud">Status: </label>
            <div id="dropdown">
            <select name="taskstatus" id="taskstatus">
            <option value="pending">Pending</option>
            <option value="in progress">In Progress</option>
            <option value="completed">Completed</option>
            <option value="cancelled">Cancelled</option>
            </select>
            </div>
            <button id="btn">Add Sub-Task</button>
        </div>
    
        <div id="table">
            <ul id="taskList">
                <li><input type="checkbox"> Task 1  
                <img src="../static/img/delete.png" alt="delet" class="deletebtn"> 
                <img src="../static/img/edit-text.png" alt="edit" class="editbtn"> 
                <button id="exbtn">Expand</button></li>
            </ul>
        </div>

    </div>

    <script>
  const taskList = document.getElementById("taskList");

  taskList.addEventListener("click", function(e) {
    
    if (e.target.classList.contains("deletebtn")) {
      const li = e.target.closest("li");
      li.remove();
    }

    if (e.target.classList.contains("editbtn")) {
      const li = e.target.closest("li");
      
      let currentText = li.childNodes[1].textContent.trim();

      const newText = prompt("Edit task:", currentText);

      if (newText !== null && newText.trim() !== "") {
        li.childNodes[1].textContent = " " + newText + " ";
      }
    }
  });
</script>
</body>
</html>